<div class="col-md-12 col-sm-12 col-xs-12 nopadding">
	<nav class="navbar navbar-light bg-faded navbar-fixed-top nav_header">
	  <a class="navbar-brand col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-3 col-sm-3 col-xs-3" href="{{base_href}}/">
	    <img src="images/png/LOGO_SIMBOL_RGB.png" alt="Logo simbol" class="img_logo_header_link"></img>
	    <!-- <img src="images/png/LOGO_SIMBOL_RGB.png" alt="Logo simbol" class="logo_400px"></img> -->
	  </a>
	  <a class="col-md-offset-5 col-sm-offset-5 col-xs-offset-5 col-md-3 col-sm-3 col-xs-3 no_decoration" href="">
	  	<div class="container_user_header"><img src="images/png/user.png" alt="" class="img_user_header_link"></img><span class="text-center usermane_header">{{username}}</span></div>
	  </a>
	</nav>
</div>